[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/solidity-trigonometry"]
	path = lib/solidity-trigonometry
	url = https://github.com/mds1/solidity-trigonometry
